<div id="main">
	<div class="tabs">
		<ul class="breadcrumbs">
			<li class="current"><a href="#">Home</a></li>
			<li><a href="#getting-started">Getting started</a></li>
			<li><a href="#how-it-works">How it works?</a></li>
			<li><a href="#about-us">About Us</a></li>
			<span id="search-tab">
				<%= form_tag( { :action => :map, }, { :method => :get }) %>
					Seek around the world: 
					<input id="search" type="text" value="" name="search"/>
					<%= submit_tag( "Search" ) %>
				</form>
			</span>
		</ul>
	</div>

	<div align="center" class="logo"><img class="logo-img" src="<%= asset_path( 'draw.png' ) %>" /></div>

	<div class="city-banner">
		<div class="pencil"><img class="pencil-img" src="<%= asset_path( 'pencil.png' ) %>" /></div>
	</div>

	<div align="center">
		<a href="#getting-started" class="large blue button radius">Getting started ››</a>
	</div>

	<div class="container-info">
		
		<div class="sub-title " id="getting-started">
			<img src="<%= asset_path( 'getting-started.png' ) %>" />
		</div>
		<div class="inner-shadow">
			<p class="depth">
				O jogo irá estar disponível brevemente no Google Play. 
			</p>
		</div>
		<div align="center">
			<a href="#how-it-works" class="large blue button radius">How it works? ››</a>
		</div>
		<div class="sub-title " id="how-it-works">
			<img src="<%= asset_path( 'how-it-works.png' ) %>" />
		</div>
		<div class="inner-shadow">
			<p class="depth">
				O DrawGeo (codename) é um jogo baseado na posição do jogador para plataformas que corram Android, com recurso a Wi-fi/3G e GPS. O jogador é transportado para um mundo virtual onde qualquer um pode deixar pequenos desenhos associados a palavras aleatórias na posição geográfica em que se encontra. O objetivo é advinhar os desenhos espalhados pelo mundo.
			</p>
			<p class="depth">
				Ao fazê-lo o jogador que o criou e o jogador que adivinhou ganham pontos que lhes permitem subir no ranking e desbloquear novas funcionalidades. Para além disso, quem adivinha tem a possibilidade de substituir o desenho por um seu. A posição geográfica dos desenhos pode não ser revelada inicialmente, sendo necessário resolver um enigma associado para revelar a sua localização.
			</p>
		</div>
		<div align="center">
			<a href="#about-us" class="large blue button radius">About us ››</a>
		</div>
		<div class="sub-title " id="about-us">
			<img src="<%= asset_path( 'about-us.png' ) %>" />
		</div>
		<div class="inner-shadow">
			<p class="depth">
				Somos um grupo de estudantes da Faculdade de Engenharia da Universidade do Porto. E esta aplicação está inserida no contexto da unidade curricular de Desenvolvimento de Jogos de Computadores lecionada pelo Professor Rui Rodrigues.
			</p>
		</div>
		<div align="center">
			<a href="#main" class="large blue button radius">Back to Top</a>
		</div>

		<div class="footer">
		</div>
	</div>
</div>