<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Id avatar:</b>
  <%= @user.id_avatar %>
</p>

<p>
  <b>Piggies:</b>
  <%= @user.piggies %>
</p>

<p>
  <b>Keys:</b>
  <%= @user.keys %>
</p>

<p>
  <b>Num done:</b>
  <%= @user.num_done %>
</p>

<p>
  <b>Num success:</b>
  <%= @user.num_success %>
</p>

<p>
  <b>Num created:</b>
  <%= @user.num_created %>
</p>

<p>
  <b>Ranking:</b>
  <%= @user.ranking %>
</p>

<p>
  <b>Colors:</b>
  <% @palettes.each do |palette| %>
    <p>Palette <%=palette.id%>: {Hex1: <%= palette.hex1 %> | Hex2: <%= palette.hex2 %> | Hex3: <%= palette.hex3 %> | Hex4: <%= palette.hex4 %>}</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
