<h1>New color</h1>

<%= form_for([@user, @user.colors.build]) do |f| %>
  <div class="field">
    <%= f.label :hex %><br />
    <%= f.text_field :hex %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', user_colors_path %>
