<h1>Listing draw_users</h1>

<table>
  <tr>
    <th>Id draw</th>
    <th>Id user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draw_users.each do |draw_user| %>
  <tr>
    <td><%= draw_user.id_draw %></td>
    <td><%= draw_user.id_user %></td>
    <td><%= link_to 'Show', draw_user %></td>
    <td><%= link_to 'Edit', edit_draw_user_path(draw_user) %></td>
    <td><%= link_to 'Destroy', draw_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draw user', new_draw_user_path %>
