<h1>Listing draws</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Id creator</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Word Id</th>
    <th>Draw</th>
    <th>Drawx</th>
    <th>Drawy</th>
    <th>Challenge</th>
    <th>Description</th>
    <th>Password</th>
    <th>Resolution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draws.each do |draw| %>
  <tr>
    <td><%= draw.id %></td>
    <td><%= draw.id_creator %></td>
    <td><%= draw.latitude %></td>
    <td><%= draw.longitude %></td>
    <td><%= draw.word_id %></td>
    <td><%= draw.draw %></td>
    <td><%= draw.drawx %></td>
    <td><%= draw.drawy %></td>
    <td><%= draw.challenge %></td>
    <td><%= draw.description %></td>
    <td><%= draw.password %></td>
    <td><%= draw.resolution %></td>
    <td><%= link_to 'Show', draw %></td>
    <td><%= link_to 'Edit', edit_draw_path(draw) %></td>
    <td><%= link_to 'Destroy', draw, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div>See drawings on a map: </div>
<a id="gm" href=<%= see_map_path %>><img src='/gm-icon.png' style="height:50px; width:auto;"/></a>

<div class="title"> Draws near Porto (300km radius) </div>
<table>
<% @nearbys.each do |near| %>
  <tr>
    <td><%= near.id %></td>
    <td><%= near.id_creator %></td>
    <td><%= near.latitude %></td>
    <td><%= near.longitude %></td>
    <td><%= near.word_id %></td>
    <td><%= near.draw %></td>
    <td><%= near.drawx %></td>
    <td><%= near.drawy %></td>
    <td><%= near.challenge %></td>
    <td><%= near.description %></td>
    <td><%= near.password %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draw', new_draw_path %>


